
html{
    background: url(colour-smoke-background.jpg);
    background-size: cover;
    background-position: fixed
}
#name{
    margin-top: 50px;
    margin-bottom: 100px;
}


h1{
    color: white;
}

body{
    color: white;
    text-align: center;
    margin: 10px, 300px, 10px, 300px; 
}

:root{
    font-family: Exo; 
}

#birdy{
    width: 200px; height: auto;
}