
html{
    background: url(colour-smoke-background.jpg);
    background-size: cover;
    background-position: fixed
}

head{
    text-align: center;
}

h1{
    color: white;
}

body{
    color: white;
    text-align: center;
    
}

:root{
    font-family: Exo; 
}